.transitions-item {
  overflow: hidden;
  width: 100%;
  color: white;
  font-size: 6.5vw;
  font-weight: 800;
  line-height: 7.5vw;
  will-change: transform, opacity, height;
  margin: 0%;
}

.trails-main {
  position: relative;
  overflow: hidden;
  align-items: center;
}

.trails-text {
  position: relative;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text>div {
  overflow: hidden;
}

.toggle {
  position: relative;
  overflow: hidden;
  will-change: opacity, height;
}

.about {
  margin-top: 15vh;
  text-align: center;
}

.about-title {
  font-size: 10vw;
  font-weight: 800
}

.about-me {
  min-height: 100vh;
}

.info {
  font-size: 3vw
}

a {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(255, 0, 85);
  text-decoration: none;
}

#tags h3 {
  font-size: 0.7rem;
  opacity: 0.5;
}

#logo img {
  min-height: 20vh;
  width: auto;
}

#home {
  min-height: 100vh;
  margin: auto 0;
}

#projectOpening {
  width: 100%;
  font-size: 13vw;
  font-weight: 800;
}

#promote {
  font-size: 5.4vw;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10vh;
}

#contact {
  font-size: 4vw;
  font-weight: 500;
}

@keyframes upDown {
  0% {
    bottom: 20vh;
    opacity: 1;
  }

  25% {
    bottom: 15vh;
    opacity: 0.75;
  }

  50% {
    bottom: 10vh;
    opacity: 0.5;
  }

  75% {
    bottom: 5vh;
    opacity: 0.25;
  }

  100% {
    bottom: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {

  .transitions-item {
    text-align: center;
    font-size: 7.5vw;
  }

  #logo {
    margin: 5vh;
  }

  #logo img {
    max-width: 60vw;
  }
}