body {
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url("./components/img/Confetti-Doodles.svg");
}

body::-webkit-scrollbar {
  display: none;
}

.footer a {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  color: aliceblue;
}

@keyframes upDown {
  0% {
    bottom: 20vh;
    opacity: 1;
  }
  25% {
    bottom: 15vh;
    opacity: 0.75;
  }
  50% {
    bottom: 10vh;
    opacity: 0.5;
  }
  75% {
    bottom: 5vh;
    opacity: 0.25;
  }
  100% {
    bottom: 1vh;
    opacity: 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
